html {
  font-size: 0.8rem;
}

body {
  font-family: Baskerville;
  font-size: 1.75rem;
  color: #000;
  line-height: 2.3rem;
  text-align: justify;
}

header {
  border-bottom: 1px solid #777;
}

nav {
  text-align: right;
}

code {
    font-size: 1.4rem;
}

nav a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 1px solid #777;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  color: #555;
}

.logo a {
  color: #000;
  text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

/* Blockquote styling */
blockquote {
    position: relative;
    padding: 1em 1.5em;
    margin: 0 0 1em;
    line-height: 1.6;
    font-size: 1.4rem;
    color: #777;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    border-radius: 5px;
}

blockquote p {
    display: inline;
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 55rem;
    margin: 0 auto;
    padding: 0;
  }

  img {
    max-width: 55rem;
    overflow: hidden;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
