<section class="markdown-content">
<h1>Now</h1>
I am working as a software engineer at an amazing startup called
<a href="https://alpenlabs.io">Alpen labs</a>.
<br/>
We are working on building scalable solutions on top of bitcoin.
<br/>
Lots of nerd-ing, math-ing and rust-ing.
</section>
