<!-- Year Group -->
{{#each posts_by_year}}
<section>
  <h2 class="text-xl font-bold border-b pb-1 border-gray-300 dark:border-gray-700 mb-4">{{year}}</h2>
  <ul class="space-y-2">
    {{#each posts}}
    <li>
      <span class="text-gray-500 dark:text-gray-400 mr-2">{{formatted_date}}</span>
      <a href="posts/{{slug}}.html" class="hover:underline text-blue-600 dark:text-blue-400">{{title}}</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/each}}
