$if(identicon)$
<img src="/$identicon$"></img>
$endif$
<article>
    <section class="header">
        <h1>$title$</h1>
        <small>
            $date$
            $if(author)$
            by $author$
            $endif$
        </small>
        <span><small>&nbsp;&nbsp; tags:</small></span>
        <small>$tags$</small>
    </section>
    <section>
        $body$
    </section>
    <small style="color: #777">
         $date$

         $if(location)$
             @ $location$
         $endif$
    </small>
</article>
